-- DropForeignKey
ALTER TABLE "refresh_tokens" DROP CONSTRAINT "refresh_tokens_userId_fkey";

-- AlterTable
ALTER TABLE "ats_interview_sessions" ALTER COLUMN "focusAreas" DROP DEFAULT;

-- AlterTable
ALTER TABLE "ats_matches" ALTER COLUMN "matchScore" DROP NOT NULL,
ALTER COLUMN "semanticScore" DROP DEFAULT,
ALTER COLUMN "matchedSkills" DROP DEFAULT,
ALTER COLUMN "missingSkills" DROP DEFAULT,
ALTER COLUMN "atsWarnings" DROP DEFAULT;

-- AlterTable
ALTER TABLE "ats_questions" ALTER COLUMN "evalStrengths" DROP DEFAULT,
ALTER COLUMN "evalWeaknesses" DROP DEFAULT;

-- DropTable
DROP TABLE "refresh_tokens";

-- DropTable
DROP TABLE "users";

